
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}

nav{
    display:flex;
    justify-content:space-around;
    align-items:center;
    min-height:8vh;
    background-color:cornflowerblue;
}
.logo{
    color:#ffffff;
    text-transform:uppercase;
    letter-spacing:5px;
    font-size:20px;
}
.nav-links{
    display: flex;
    justify-content:space-around;
    width:40%;
    list-style:none;
}

.nav-links a{
    color:#ffffff;
    text-decoration: none;
    letter-spacing:3px;
    font-weight:600;
    font-size:14px;
}

.burger{
    display:none;
}

.burger div{
    width:25px;
    height:2px;
    background-color:#ffffff;
    margin:5px;
    transition:all 0.3s ease;
}

@media screen and (max-width: 1024px){
    .nav-links{
        width:50%;
    }
}



@media screen and (max-width: 768px){
    body{
        overflow-x:hidden;
    }
    .nav-links{
        position:absolute;
        right:0px;
        height:92vh;
        top:8vh;
        display:flex;
        flex-direction:column;
        align-items:center;
        width:50%;
        transform:translateX(100%);
        background-color:cornflowerblue;
        transition:transform 0.5s ease-in;
    }
    
    .nav-links li{
        opacity:0;
    }

    .burger{
        display:block;
        cursor:pointer;
    }
}


.nav-active{
    transform:translateX(0%);
}


@keyframes navLinkFade {
    from{
        opacity:0;
        transform:translateX(50px);
    }
    to{
        opacity:1;
        transform:translateX(0px);
    }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2{
    opacity:0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px, -6px);
}